<tr data-id="~id~">
    <td width="20%">
        <a href="~language_prefix~/~pagename~/sites/edit/~id~" title="*Edit site host*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/sites/options/~site~" title="*Edit site options*" class="edit"><i class="fa fa-cog"></i></a>
        <a href="~language_prefix~/~pagename~/sites/delete/~id~" title="*Delete this site*"
           onclick="return confirm('*Are you sure want to delete this site*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left">~site~</td>
    <td width="60%" class="text-left">~host~</td>
</tr>