<tr>
    <td colspan="3"><h3>~field_name~ (TODO: make it with tabs)</h3></td>
</tr>
<tr>
    <td colspan="3">VK</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_vk_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][vk][app_id]" type="text" value="~social_api_vk_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_vk_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][vk][app_secret]" type="text" value="~social_api_vk_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">Facebook</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_fb_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][fb][app_id]" type="text" value="~social_api_fb_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_fb_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][fb][app_secret]" type="text" value="~social_api_fb_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">Linkedin</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_li_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][li][app_id]" type="text" value="~social_api_li_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_li_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][li][app_secret]" type="text" value="~social_api_li_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">Twitter</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_tw_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][tw][app_id]" type="text" value="~social_api_tw_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_tw_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][tw][app_secret]" type="text" value="~social_api_tw_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">Google</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_go_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][go][app_id]" type="text" value="~social_api_go_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_go_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][go][app_secret]" type="text" value="~social_api_go_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">Instagram</td>
</tr>
<tr>
    <td class="text-left" width="20%">*App id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_in_app_id~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][in][app_id]" type="text" value="~social_api_in_app_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*App secret code*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_social_api_in_app_secret~"></td>
    <td class="text-left" width="40%"><input name="settings[social_api][in][app_secret]" type="text" value="~social_api_in_app_secret~"></td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>