<form name="settings_form" action="" method="post" class="edit-form" role="form">
    <div class="additional-links">
        <a onclick="return settings_form.submit();" title="*Save*"><i class="fa fa-save"></i></a>
    </div>
    ~errors~
    ~saved~
    <table class="admin-overview" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th width="20%">*Parameter*</th>
            <th width="40%">*Default value*</th>
            <th width="40%">*Current value*</th>
        </tr>
        </thead>
        <tbody>
        ~rows~
        </tbody>
    </table>
    <dl class="edit_row">
        <dt></dt><dd><button class="btn" type="submit"><i class="fa fa-save" aria-hidden="true"></i> *Save*</button></dd>
    </dl>
</form>

