<tr>
    <td colspan="3"><h3>*DB connections settings* (TODO: make it with tabs)</h3></td>
</tr>
<tr>
    <td colspan="3">MySQLi</td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB name*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mysqli_db_name~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mysqli][db_name]" type="text" value="~db_mysqli_db_name~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB host*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mysqli_host~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mysqli][host]" type="text" value="~db_mysqli_host~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB user*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mysqli_user~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mysqli][user]" type="text" value="~db_mysqli_user~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB password*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mysqli_password~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mysqli][password]" type="text" value="~db_mysqli_password~"></td>
</tr>
<tr>
    <td colspan="3">PostgreSQL</td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB name*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_pgsql_db_name~"></td>
    <td class="text-left" width="40%"><input name="settings[db][pgsql][db_name]" type="text" value="~db_pgsql_db_name~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB host*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_pgsql_host~"></td>
    <td class="text-left" width="40%"><input name="settings[db][pgsql][host]" type="text" value="~db_pgsql_host~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB user*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_pgsql_user~"></td>
    <td class="text-left" width="40%"><input name="settings[db][pgsql][user]" type="text" value="~db_pgsql_user~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB password*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_pgsql_password~"></td>
    <td class="text-left" width="40%"><input name="settings[db][pgsql][password]" type="text" value="~db_pgsql_password~"></td>
</tr>
<tr>
    <td colspan="3">MongoDB</td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB name*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mongodb_db_name~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mongodb][db_name]" type="text" value="~db_mongodb_db_name~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB host*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mongodb_host~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mongodb][host]" type="text" value="~db_mongodb_host~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB user*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mongodb_user~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mongodb][user]" type="text" value="~db_mongodb_user~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*DB password*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_db_mongodb_password~"></td>
    <td class="text-left" width="40%"><input name="settings[db][mongodb][password]" type="text" value="~db_mongodb_password~"></td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>