<tr>
    <td colspan="3"><h3>~field_name~</h3></td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site id*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_id~"></td>
    <td class="text-left" width="40%"><input name="settings[site][id]" type="text" value="~site_id~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site type*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_type~"></td>
    <td class="text-left" width="40%">
        <select name="settings[site][type]">
            ~site_types_options~
        </select>
    </td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site template*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_template~"></td>
    <td class="text-left" width="40%">
        <select name="settings[site][template]">
            ~site_templates_options~
        </select>
    </td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site host*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_host~"></td>
    <td class="text-left" width="40%"><input name="settings[site][host]" type="text" value="~site_host~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site title*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_title~"></td>
    <td class="text-left" width="40%"><input name="settings[site][title]" type="text" value="~site_title~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site slogan*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_slogan~"></td>
    <td class="text-left" width="40%"><input name="settings[site][slogan]" type="text" value="~site_slogan~"></td>
</tr>
<tr>
    <td class="text-left" width="20%">*Site footer text*</td>
    <td class="text-left" width="40%"><input readonly type="text" value="~default_site_footer_text~"></td>
    <td class="text-left" width="40%"><input name="settings[site][footer_text]" type="text" value="~site_footer_text~"></td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>